<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <createVisit>
        <processor type="Sitecore.Support.Analytics.Pipelines.CreateVisits.ParseReferrer, Sitecore.Support.92847" patch:instead="*[@type='Sitecore.Analytics.Pipelines.CreateVisits.ParseReferrer, Sitecore.Analytics']" />
      </createVisit>
    </pipelines>
  </sitecore>
</configuration>
